# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.user

CMakeFiles/*
hlslcc.dir/*
ZERO_CHECK.vcxproj
.vs/HLSLcc/v14/.suo
ALL_BUILD.vcxproj
CMakeCache.txt
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
ALL_BUILD.vcxproj.filters
Debug/*
